body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-color: #fff;
}

.title {
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
}

.title h1 {
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 20px;
  font-weight: 400;
  color: #fff;
}

.menu-strip .toggle-btn {
  position: absolute;
  top: 10%;
  right: 10%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.menu-strip .toggle-btn i {
  font-size: 28px;
  color: #a66f2c;
  cursor: pointer;
}

.left-nav-wrapper .left-navbar-menus {
  position: absolute;
  width: 0%;
  height: 100vh;
  left: 0;
  background: #061F1A;
}

.left-navbar-overlay {
  position: absolute;
  width: 0%;
  height: 100vh;
  right: 0%;
  background-color: rgba(0,0,0,.4);
  backdrop-filter: blur(10px);
  z-index: 999;
  cursor: pointer;
}

.left-nav-wrapper .left-nav-logo img{
  list-style: none;
  position: absolute;
  top: 10%;
  left: 10%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 999;
}

.left-nav-wrapper .left-navbar-copyright span{
  list-style: none;
  position: absolute;
  top: 70%;
  left: 10%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 999;
}

.left-nav-wrapper .left-navbar-menus ul {
  list-style: none;
  position: absolute;
  top: 36%;
  left: 36%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.order {
  font-size: 16px;
  font-weight: lighter;
  color: #afafaf;
}

.left-nav-wrapper .left-navbar-menus ul li {
  color: #fff;
  font-weight: lighter;
  font-size: 30px;
  line-height: 60px;
}

.tag {
  font-size: 18px;
  font-weight: lighter;
  color: #afafaf;
  transition: 0.3s;
}

.social-links{
  position: absolute;
  top: 80%;
  left: 20%;
  transform: translate(-50%, -50%);
}

.social-links ul li {
  display: inline-block;
  margin-right: 10px;
  font-size: 18px;
}

.social-links ul li a {
  color: #afafaf;
  text-decoration: none;
}

.left-nav-wrapper .left-navbar-menus ul li:hover .tag {
  color: #a66f2c;
  transition: 1s;
}

.menu-text {
  background: linear-gradient(#afafaf, #afafaf) left no-repeat, #fff;
  background-size: 0% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 1s;
}

.menu-text:hover {
  background-size: 100% 100%;
}

.hide {
  display: none;
}

@media (max-width: 768px) {

  .left-nav-wrapper .left-navbar-menus {
    width: 0%;
  }

  .left-navbar-menus ul {
    margin-top: 80px;
    margin-left: -20px;
  }

  .menu-strip {
    width: 20%;
  }

  .toggle-btn {
    position: absolute;
    transform: translate(-50%, -90%);
  }

  .left-navbar-menus li .menu-text {
    font-size: 18px;
  }
}
