body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-color: #fff;
}

.title {
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
}

.title h1 {
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 20px;
  font-weight: 400;
  color: #fff;
}

.menu-strip .toggle-btn {
  position: absolute;
  top: 10%;
  right: 10%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.menu-strip .toggle-btn i {
  font-size: 28px;
  color: #a66f2c;
  cursor: pointer;
}

/* start-here */
.left-navbar-overlay {
  position: absolute;
  width: 75%;
  height: 100vh;
  right: 0%;
  background-color: rgba(0,0,0,.4);
  backdrop-filter: blur(10px);
  z-index: 999;
  cursor: pointer;
}

/* left-navbar */
.left-navbar {
  position: absolute;
  width: 25%;
  height: 100vh;
  left: 0;
  background: #061F1A;
}

/* left-nav-logo */
.left-nav-wrapper .left-nav-logo{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

/* left-navbar-menus */
.left-nav-wrapper .left-navbar-menus{
  margin-top: 67px;
  margin-bottom: 62px;
}

.left-nav-wrapper .left-navbar-menus ul {
  list-style: none;
  text-align: center;
  padding-left: 0;
}

.left-nav-wrapper .left-navbar-menus ul li a{
  text-decoration: none;
  color: #fff;
  font-weight: lighter;
  font-size: 18px;
  font-family: tahoma;
  display: inline-block;
}

.left-nav-wrapper .left-navbar-menus ul li{
  margin-bottom: 25px;
}

.order {
  font-size: 12px;
  font-weight: lighter;
  color: #afafaf;
}

.menu-text {
  background: linear-gradient(#afafaf, #afafaf) left no-repeat, #fff;
  background-size: 0% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 1s;
}

.menu-text:hover {
  background-size: 100% 100%;
}

/* left-navbar-copyright */
.left-nav-wrapper .left-navbar-copyright span{
  color: #afafaf;
  width: 210px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 14px;
  font-family: tahoma;
  line-height: 24px;
}

.left-nav-wrapper .left-navbar-copyright span a{
  color: #fff;
}

/* social-links */
.social-links{
  text-align: center;
  margin-top: 27px;
  margin: 0;
  padding: 0;
}

.social-links ul{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.social-links ul li {
  display: inline-block;
  margin-right: 10px;
  font-size: 18px;
}

.social-links ul li a {
  color: #afafaf;
  text-decoration: none;
}

@media (max-width: 768px) {
  .left-navbar-menus ul {
    margin-top: 80px;
    margin-left: -20px;
  }

  .toggle-btn {
    position: absolute;
    transform: translate(-50%, -90%);
  }
}
